body {
    margin: 0;
    font-family: Verdana;
    font-weight: 300;
    background-image: url(bg1.png);
    background-size: 100%;
    width: 100%;
    height: auto;


}

.container{
    width: 90%;
    margin: 0 auto;
}

nav{
    float: right;
    width: 50%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 10%;
    padding-top: 5%;
    
    position: relative;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #93acff;
}

nav a::before{
    content:'';
    display: block;
    background-color: #93acff;
    height: 5px;
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
    
}
.logo{
    float: left;
    width: 8%;
}

header{
    background-color: #202123;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.content{
    background: rgba(48, 48, 59, 0.5);
    display: table;
    width: 100%;
    margin: 0 auto;
}

.content > #home{
    text-align: center;
    font-weight: bold;
    color: white;
}

.content > #home > h1 >pre{
    font-family: 'Times New Roman';
    font-size: 72px;
}

.line{
    width: 100%;
}
.content .detail{
    width: 95%;
    margin: 2% auto;
    height: auto;
}
#ftprof{
    width: 30%;
    padding: 0 35%;
    height: auto;
}
.foto{
    border-radius: 30%;
    border: 3px white solid;
    width: 100%;
    height: auto;

}

.content > #profile > #pg{
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Courier New';
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.content > .detail > #dtl{
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 0 9.88%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}
.content > .detail > #dtl > p > img{
    width: 100%;
    height: auto;
    border: 3px solid white;
}
.content > #snh > p{
    font-family: Cambria;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 2% 0%;

}

.content > #contact{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 50px;
    color: white;

}