{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'portfolio_page/style.css' %}" >
    <title>Zuhdi's Web</title>
</head>

<body>
<header>
    <div class="container">
        <img src="{% static 'portfolio_page/logo43.png' %}" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#snh">S & H</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="content" id="contentbg">
    <div class="detail" id="home">
        <h1><pre>W E L C O M E</pre></h1>
        <h1><pre>T O</pre></h1>
        <h1><pre>Z U H D I 'S  W E B</pre></h1>
        <p><img src="{% static 'portfolio_page/line2.png' %}" alt="line" class="line"></p>
    </div>
    <div class="detail" id="profile">
        <div id="ftprof">
            <p><img src="{% static 'portfolio_page/foto.jpg' %}" alt="Foto" class="foto"></p>
        </div>
        <div id="pg">
            <p>My name is Muhammad Zuhdi Zamrud<br>I am 18 years old<br>I was born in Bekasi</p>
            <img src="{% static 'portfolio_page/line2.png' %}" alt="line" class="line">
        </div>
    </div>
    <div class="detail" id="snh">
        <p>SKILLS</p>
        <div id="dtl">
            <p><img src="{% static 'portfolio_page/code.jpg' %}" alt="code" class="code"></p>
            CODING
        </div>
        <div id="dtl">
            <p><img src="{% static 'portfolio_page/gaming.jpg' %}" alt="gaming" class="gaming"></p>
            GAMING
        </div>
        <p>HOBBIES</p>
        <div id="dtl">
            adsad
        </div>
        <div id="dtl">
            asdada
        </div> 
        <p><img src="{% static 'portfolio_page/line2.png' %}" alt="line" class="line"></p>
    </div>
    <div class="detail" id="contact">
            <p>Contact</p>
    </div>
</div>
</body>

</html>